#file
token.txt
vimrc.txt
*.o
windows

#folder
JoSuHyun/ProokOfWork/
KimJuSang/VirtualKD-Redux-2022.2/
KimJuSang/DriverLoaderUnloader/
KimKwuanYung/venv/
KimKwuanYung/nuclei-templates/
KimKwuanYung/name/
KimKwuanYung/nuclei/
HanJuSung/1st_week/

.vscode/
.vs/