#file
token.txt
vimrc.txt
*.o
windows

#folder
ProokOfWork/
DriverLoaderUnloader/
venv/
nuclei-templates/
name/
nuclei/
1st_week/
JJAMTong/
Network/pcap/libnet
FileSystem/fat32
FileSystem/gpt_128
FileSystem/mbr_128
OpenSourceandBugBounty/CVE/CVE-2024-4851/

.vscode/
.vs/